body {
  margin: 20px;
  background-color: #b35900;
}
   .nav {
      font-size: 20px;
      background-color: rgb(2, 48, 32);
      color: #cccccc;
      height: 75px;
   }
   ul {
      list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
   }
   li {
      float: right;
  border-right:1px solid #bbb;
}
img{
  width: 100%;
}
.container{
  display: grid;
  font-size: 16px;
}
button {
  color: #b4b4b4;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
 
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
   .blog {
      margin-top: 20px;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      height: 400px;
   }
   .post {
      margin-top: 20px;
      float: left;
   }
   .blogHeader {
   font-family: comic sans ms;
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
   }
   .links li {
      color: black;
   }
