body {
  margin: 20px;
  background-color: #b35900;
}
 * {
      box-sizing: border-box;
   }
   nav {
      font-size: 20px;
      background-color: rgb(2, 48, 32);
      color: #cccccc;
      height: 75px;
   }
   ul {
      position: fixed;
      right:10px;
   }
   ul li {
      display: inline;
      padding-right: 30px;
      font-weight: 500;
      color: rgb(251, 255, 0);
}
   .blog {
      margin-top: 20px;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      height: 400px;
   }
   .post {
      margin-top: 20px;
      float: left;
   }
   .blogHeader {
   font-family: comic sans ms;
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
   }
   .links li {
      color: black;
   }
